<h2>enter details for new show...</h2>
<form action="/show" method="POST">
    start: <input type="datetime-local" name = "start" ></br>
    end:<input type="datetime-local" name = "end"></br>
    <input type="submit">
</form>
</br><a href="/show">back</a>